<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Add{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}"/>

    <!-- Begin Inspectlet JS Code -->
    <script type="text/javascript" id="inspectletjs">
    (function() {
     var insp_ab_loader = true; // set this boolean to false to disable the A/B testing loader
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1575448564]);
    var ldinsp = function(){
    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1575448564&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x);if(typeof insp_ab_loader != "undefined" && insp_ab_loader){ var adlt = function(){ var e = document.getElementById('insp_abl'); if(e){ e.parentNode.removeChild(e); __insp.push(['ab_timeout']); }}; var adlc = "body{ visibility: hidden !important; }"; var adln = typeof insp_ab_loader_t != "undefined" ? insp_ab_loader_t : 1200; insp.onerror = adlt; var abti = setTimeout(adlt, adln); window.__insp_abt = abti; var abl = document.createElement('style'); abl.id = "insp_abl"; abl.type = "text/css"; if(abl.styleSheet) abl.styleSheet.cssText = adlc; else abl.appendChild(document.createTextNode(adlc)); document.head.appendChild(abl); } };
    setTimeout(ldinsp, 0);
    })();
    </script>
    <!-- End Inspectlet JS Code -->

</head>
<body>
    <!-- navbar starts here -->
    <div class="container">
    <nav class="navbar navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'accounts:index' %}" style="color:#FFF0F5;">GenFam</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'family:index' %}" style="color:#FFF0F5;">Analysis</a></li>
            <li><a href="{% url 'accounts:doc' %}" style="color:#FFF0F5;">Documentation</a></li>
            <li><a href="{% url 'accounts:dload' %}" style="color:#FFF0F5;">Downloads</a></li>
            <li><a href="{% url 'accounts:news' %}" style="color:#FFF0F5;">News</a></li>

            <!--
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}" style="color:#FFF0F5;">
                    <span class="glyphicon glyphicon-log-out"></span>
                        &nbsp;Logout</a></li>
                    <p class="navbar-text" style="color:#A52A2A;font-weight: bold;"><span class="glyphicon  glyphicon-user"></span>&nbsp;
                        Welcome {{ user.username }}!</p>
            {% else %}
                <li><a href="{% url 'accounts:login' %}" style="color:#FFF0F5;">
                    <span class="glyphicon glyphicon-log-in"></span>
                        &nbsp;Login</a></li>
            {% endif %}
            -->
        </ul>
        <!-- search box -->
        <!--
        <form class="navbar-form pull-right" role="search" method="get" action="http://www.google.com/search">
                <input class="form-control" type="text" placeholder="Search" name="q">
                <button class="btn btn-online-success" type="Submit">Search</button>
                <input type="hidden" name="sitesearch" value="http://mandadilab.webfactional.com/home" />
        </form>
        -->
    </nav>
    </div>
    <!-- navbar ends here -->

{% block body %}
{% endblock %}

</body>
</html>
