{% extends 'accounts/header.html' %}
{% load bootstrap %}
{% load staticfiles %}

<!-- tab title -->
{% block title %}GenFam News{% endblock %}

{% block body %}

<div class="container">
    <ul class="list-group">
	<li class="list-group-item">Oct 10, 2020: <a href="https://reneshbedre.github.io/blog/genfam.html">Command line interface</a> of
            GenFam Released</li>
        <li class="list-group-item">March 20, 2020: <a href="https://github.com/reneshbedre/GenFam">
            GenFam project</a> (source code and database) available at GitHub</li>
        <li class="list-group-item">Dec 4, 2019: <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/pld3.191">
            GenFam</a> published in Plant Direct journal</li>
        <li class="list-group-item">Oct 31, 2019: <a href="http://mandadilab.webfactional.com/home/dload/">V1.1</a> of
            GenFam Released</li>
    </ul>
</div>

{% include 'accounts/footer.html' %}

{% endblock %}
